<template lang="pug">
	div
		v-toolbar(dark prominent src='https://cdn.pixabay.com/photo/2014/05/18/00/33/cloud-346710_960_720.png')
			v-toolbar-title#title Previsão do Tempo
			v-spacer
			v-btn(icon)
				v-icon mdi-export

</template>

<script>
export default {};
</script>

<style scoped>
.container {
	width: 100vw;
}

#title {
	color: #fff;
	font-weight: 600;
	font-size: 40px;
}
</style>
