<template lang="pug">
	div.principal
		Header
		nuxt
</template>

<script>
import Header from '~/components/Header';
export default {
	components: {
		Header,
	},
	data() {
		return {};
	},
};
</script>

<style scoped>
.principal {
	margin: 0;
}
</style>
