<template lang="pug">
v-container#cont(fluid)
		//- SNACK-BAR
		div(v-if="alert==true" )
			v-snackbar(v-model='alert' :timeout='timeout' top)
				v-row.alert_text A cidade solicitada não foi encontrada

		//- LINHA PRINCIPAL
		v-row

			//- 1 COLUNA
			v-col.col_1(
			cols="12"
			xs="8"
			sm="4"
			md="4"
			lg="4"
			)
				//- INPUT
				div#title Digite a Cidade desejada:
				v-form
					v-text-field.field(
						v-model='city'
						prepend-inner-icon="mdi-map-marker"
						label='Cidade'
						hint="Exemplo: São Paulo"
						persistent-hint
						solo
						required
						outlined
						clearable)

					v-btn.btn_1(
						depressed
						color='#0288d1'
						@click="getDados"
						dark)
						|  Pesquisar

			//- 2 COLUNA
			v-col.col_2(
			cols="12"
			xs="12"
			sm="6"
			md="6"
			lg="6"
			)
				//- CARD TEMPERATURA
				v-card.mx-auto#card(max-width='400' )
					v-list-item(two-line)
						v-list-item-content
						v-list-item-title.headline(v-if="titulo")
							| {{city}}
					v-divider
					v-card-text
						v-row.row_temp(align='center')
						v-col(cols='12' style="text-align: center; ")
							h1.text {{temperatura}}&deg;C
							v-list-item-icon
								img(:src="iconUrl")
							v-list-item-subtitle.text {{descricaoFormatada}}

					//- CARACTERISTICAS
					v-divider
					v-list-item
						v-list-item-icon
						v-icon(dark) mdi-thermometer-low
						v-list-item-subtitle.text Temp. Mínima: {{tempMin}}&deg;C
					v-list-item
						v-list-item-icon
						v-icon(dark) mdi-thermometer
						v-list-item-subtitle.text Temp. Maxima: {{tempMax}}&deg;C
					v-list-item
						v-list-item-icon
						v-icon#icon_3(dark) mdi-weather-windy
						v-list-item-subtitle.text Ventos: {{vento}} km/h
					v-list-item
						v-list-item-icon
						v-icon(dark) mdi-water-percent
						v-list-item-subtitle.text Humidade relativa: {{humidade}}%
					v-divider
					v-list-item.center
						v-list-item-icon
						v-icon(dark) mdi-map-marker
						v-list-item-subtitle.text São Paulo -  {{dataAtualFormatada()}}

</template>

<script>
import axios from 'axios';
import _ from 'lodash';

export default {
	data() {
		return {
			alert: false,
			timeout: 3000,
			city: '',
			tempMax: '',
			tempMin: '',
			icone: '',
			descricao: '',
			humidade: '',
			temperatura: '',
			vento: '',
			data: '',
			iconUrl: '',
			titulo: false,
		};
	},

	computed: {
		descricaoFormatada() {
			return this.descricao.charAt(0).toUpperCase() + this.descricao.slice(1);
		},
	},

	methods: {
		async getDados() {
			try {
				const api = `http://api.openweathermap.org/data/2.5/weather?q=${this.city}&lang=pt_br&APPID=09df80b865827e26a9fe5edf72e3a138`;
				const { data } = await axios.get(api);
				this.tempMax = (data.main.temp_max.toFixed(1) - 273.15).toFixed(1);
				this.tempMin = (data.main.temp_min.toFixed(1) - 273.15).toFixed(1);
				this.temperatura = (data.main.temp.toFixed(1) - 273.15).toFixed(1);
				this.descricao = data.weather[0].description;
				this.icone = data.weather[0].icon;
				this.vento = data.wind.speed;
				this.humidade = data.main.humidity;
				this.iconUrl = 'http://openweathermap.org/img/wn/' + this.icone + '@2x.png';
				this.titulo = true;
			} catch (err) {
				this.alert = true;
			}
		},
		dataAtualFormatada() {
			const data = new Date();
			const dia = data.getDate().toString();
			const diaF = dia.length === 1 ? '0' + dia : dia;
			const mes = (data.getMonth() + 1).toString(); // +1 pois no getMonth Janeiro começa com zero.
			const mesF = mes.length === 1 ? '0' + mes : mes;
			const anoF = data.getFullYear();
			return diaF + '/' + mesF + '/' + anoF;
		},
	},
};
</script>

<style scoped>
#title {
	margin-bottom: 10px;
	color: #666;
}

#icon_3 {
	margin-right: 5px !important;
}
#icon_principal {
	margin-right: 7%;
}

#card {
	background-image: linear-gradient(to right, #23527c, #58abf3);
}

#cont {
	background-image: linear-gradient(to right, #89c8ff, #6bbaff);
}
.snack {
	background-color: rgba(0, 0, 0, 0) !important;
	color: rgba(0, 0, 0, 0) !important;
}

.alert_text {
	margin-left: 8% !important;
	color: #0288d1 !important;
}
.row_temp {
	display: flex;
}
.text {
	color: white !important;
}

.headline {
	font-size: 30px;
	color: white !important;
}

.row_1 {
	display: flex;
	align-content: center;
	text-align: center;
}

.field {
	color: #0288d1;
	margin-right: 5%;
}

.btn_1 {
	float: right;
	margin-right: 5%;
}

.col_1 {
	margin-left: 10%;
}
.col_2 {
	margin-left: 5%;
}

.center {
}

@media screen and (max-width: 600px) {
	.col_1 {
		margin-left: 0;
	}
	.col_2 {
		margin-left: 0;
	}
}
</style>
